<% layout("/layouts/boilerplate") %>
<body>
    <h1 style="margin: 1rem 0;">Welcome to HomePage!</h1>
    <div><a class="btn btn-primary btn-lg" style="margin: 1rem 0; padding: 0.5rem;" href="/listings" role="button">Go to Listings -></a></div>
    <div><a class="btn btn-outline-success btn-lg" style="margin: 1rem 0; padding: 0.5rem;" href="/listings/new" role="button">Create New Listing</a></div>
</body>